.table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.cosulTau {
   color: rgb(212, 204, 191);
}

table {
    width: 80%; 
    max-width: 800px; 
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}


th {
    text-align: left;
    padding: 10px;
    background: rgb(212, 204, 191);
    color: #23242a;
    font-weight: 600;
}


td {
    padding: 20px;
    border-bottom: 1px solid rgb(212, 204, 191);
    color: rgb(212, 204, 191);
    
}


td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
}
.numeProdCos{
    color: rgb(212, 204, 191);
    font-weight: 600;
}



.cart-info {
    display: flex;
    align-items: center;
}

.cart-info img {
    margin-right: 10px;
}


.remove-btn {

    background: #970505;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s;
}

.remove-btn:hover {
    background: #6f0606;
}


.total-price {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    
}

.total-price table {
    border-top: 3px solid rgb(212, 204, 191);
    width: auto;
}

.total-price td {
    padding: 10px;
    font-weight: 600;
}

.total-price h3 {
    margin-right: 20px;
    font-size: 24px;
    color: rgb(212, 204, 191);
}


button {
    background: rgb(212, 204, 191);
    color: #23242a;
    padding: 15px 30px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    background: #6d8e63;
}
.cart-total{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    position: relative;
    line-height: 60px;
    color: rgb(212, 204, 191);
}
@media only screen and (max-width: 600px) {
    th{
        text-align: center;
    }
    .cosMQ {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
}