<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sneakers Ro | Produs</title>
    <link rel="stylesheet" href="../static/css/style1.css">
    <link rel="stylesheet" href="../static/css/stylefooter.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="../static/js/loading.js" defer></script>
    <script src="../static/js/snro.js" defer></script>
    <script src="../static/js/filter.js" defer></script>
    <script src="../static/js/cos.js" defer></script>
  </head>


<body>

    <div id="loading-screen">
        <div class="spinner"></div>
      </div>
      <div class="overlay"></div>
    <div class="mobile-menu">
      <button class="close-menu">✕</button>
      <ul>
        <li><a href="sneakersro.html">ACASĂ</a></li>
        <li><a href="barbati.html">BARBAȚI</a></li>
        <li><a href="femei.html">FEMEI</a></li>
        <li><a href="copii.html">COPII</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <li><a href="autentificare.html">AUTENTIFICARE</a></li>
      </ul>
    </div>
    <div class="header">
  
  
      <div class="container">
        <div class="navbar">
          <a href="sneakersro.html" class="logoa">
            <div class="logo">
              <h1>SneakersRo</h1>
              <img src="imagini/shoe-svgrepo-com.svg" class="logo-icon" alt="logo">
            </div>
          </a>
          <div class="search-container">
            <i class="fas fa-search search-toggle"></i>
            <input type="text" placeholder="Caută produse...">
            <!-- search-close icon will be added by JavaScript -->
        </div>
          <nav>
            <ul id="MenuItems">
              <li><a href="sneakersro.html">ACASĂ</a></li>
            <li><a href="barbati.html">BARBAȚI</a></li>
            <li><a href="femei.html">FEMEI</a></li>
            <li><a href="copii.html">COPII</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li class="inreg"><a href="autentificare.html">AUTENTIFICARE</a></li>
            </ul>
          </nav>
         
            <a href="cos.html"><img src="imagini/cart.png" class="cart" width="30" height="30" alt="Cart"></a>
            <img src="imagini/menu.png" class="menu-icon" alt="">
          <a href="autentificare.html" class="signup">Înregistrare/ Autentificare</a>
        </div>
      </div>
      <div class="produse">
    <div class="small-container single-product">
        <div class="row">
            <div class="col-imag">
                <img src="imagini/nbgrey.png" width="370" id="ProductImg" alt="">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="imagini/nbgrey.png" width="80" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="imagini/nbgrey2.png" width="80" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="imagini/nbgrey3.png" width="80" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="imagini/nbgrey4.png" width="80" class="small-img" alt="">
                    </div>
                </div>
            </div>
            <div class="col-produs">
                <p class="legenda">BARBATI / New Balance 550</p>
                <h1 class="nume-prod">New Balance 550 </h1>
                
                <h1 class="pret">599 RON</h1>
                <select class="marime">
                    <option>Alege marimea</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                </select>
                
                <a href="" class="btn" id="addToCartBtn">Adauga in cos</a>
                
            </div>
        </div>
    </div>
</div>


    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>companie</h4>
              <ul>
                <li><a href="desprenoi.html">despre noi</a></li>
                <li><a href="#">seviciile noastre</a></li>
                <li><a href="#">Politica de confidențialitate</a></li>
                <li><a href="#">
                 Program de afiliere</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>ajutor</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">transport</a></li>
                <li><a href="#">politica de returnare</a></li>
                <li><a href="#">starea comenzii</a></li>
                <li><a href="#">optiuni de plata</a></li>
              </ul>
            </div>
            
            <div class="footer-col">
              <h4>social media</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                
                <a href="https://www.instagram.com/andreii.luca_/"><i class="fab fa-instagram"></i></a>
                
              </div>
            </div>
          </div>
        </div>
     </footer>
    </div>

   
</body>

</html>